controller_manager:
  ros__parameters:
    update_rate: 100

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

joint_state_broadcaster:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

joint_trajectory_controller:
  ros__parameters:
    joints:
      - joint_1
      - joint_2
      - joint_3
      - joint_4
      - joint_5
      - joint_6

    command_interfaces:
      - position

    state_interfaces:
      - position
      - velocity

    state_publish_rate: 50.0
    action_monitor_rate: 20.0
    allow_partial_joints_goal: false
    open_loop_control: true 
    # Helps with slight time sync issues in Gazebo
    interpolation_method: splines

    constraints:
      stopped_velocity_tolerance: 0.01
      goal_time: 0.6  # Seconds the controller can wait after the trajectory ends to reach the goal
      
      joint_1: { trajectory: 1.0, goal: 0.01 }
      joint_2: { trajectory: 1.0, goal: 0.01 }
      joint_3: { trajectory: 1.0, goal: 0.01 }
      joint_4: { trajectory: 1.0, goal: 0.01 }
      joint_5: { trajectory: 1.0, goal: 0.01 }
      joint_6: { trajectory: 1.0, goal: 0.01 }